{% for movie in page_obj %}
<tr>
  <td>
    <a href="{{ movie.url }}" target="_blank">
      <img src="{{ movie.url }}" alt="Preview" style="width: 50px; height: auto;">
    </a>
  </td>
  <td>{{ movie.title }}</td>
  <td>{{ movie.year }}</td>
  <td>{{ movie.ontime }}</td>
  <td>{{ movie.score }}</td>
</tr>
{% endfor %}
<!-- {% for movie in page_obj %}
<tr>
    <td><img src="{{ movie.url }}" alt="Preview"></td>
    <td>{{ movie.title }}</td>
    <td>{{ movie.year }}</td>
    <td>{{ movie.ontime }}</td>
    <td>{{ movie.score }}</td>
</tr>
{% endfor %} -->


